---

tailscale_authkey: # tailscale_authkey_here https://tailscale.com/kb/1085/auth-keys/

consul_encrypt_key: # consul_encrypt_key_here https://www.consul.io/commands/keygen

# Encrypt using ansible-vault